<div id="<%= dom_id medical_report %>">
  <p>
    <strong>Patient:</strong>
    <%= medical_report.patient_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= medical_report.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= medical_report.date %>
  </p>

</div>
