<% content_for :title, "Editing medical report" %>

<h1>Editing medical report</h1>

<%= render "form", medical_report: @medical_report %>

<br>

<div>
  <%= link_to "Show this medical report", @medical_report %> |
  <%= link_to "Back to medical reports", medical_reports_path %>
</div>
