<div id="<%= dom_id prescription %>">
  <p>
    <strong>Appointment:</strong>
    <%= prescription.appointment_id %>
  </p>

  <p>
    <strong>Date prescription:</strong>
    <%= prescription.date_prescription %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= prescription.notes %>
  </p>

</div>
