<div id="<%= dom_id payment %>">
  <p>
    <strong>Appointment:</strong>
    <%= payment.appointment_id %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= payment.prix %>
  </p>

  <p>
    <strong>Paiement method:</strong>
    <%= payment.paiement_method %>
  </p>

</div>
