<div id="<%= dom_id room %>">
  <p>
    <strong>Numero chambre:</strong>
    <%= room.numero_chambre %>
  </p>

  <p>
    <strong>Etage:</strong>
    <%= room.etage %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= room.nom %>
  </p>

</div>
